In [1]:
# -*- coding: utf-8 -*-
"""
Student Activity: Market Capitalization.

This script showcases the use of Python Dicts to determine the
bank names associated with the corresponding market cap ranges.
"""

# Banks and Market Caps
#-----------------------
# JP Morgan Chase: 327
# Bank of America: 302
# Citigroup: 173
# Wells Fargo: 273
# Goldman Sachs: 87
# Morgan Stanley: 72
# U.S. Bancorp: 83
# TD Bank: 108
# PNC Financial Services: 67
# Capital One: 47
# FNB Corporation: 4
# First Hawaiian Bank: 3
# Ally Financial: 12
# Wachovia: 145
# Republic Bancorp: .97

# @TODO: Initialize a dictionary of banks and market caps (in billions)




# @TODO: Change the market cap for 'Citigroup'


# @TODO: Add a new bank and market cap pair


# @TODO: Remove a bank from the dictionary


# @TODO: Print the modified dictionary

'\nStudent Activity: Market Capitalization.\n\nThis script showcases the use of Python Dicts to determine the\nbank names associated with the corresponding market cap ranges.\n'

In [2]:
# @TODO: Initialize a dictionary of banks and market caps (in billions)
bank_market_cap = {
     "JP Morgan Chase": 327,
  "Bank of America": 302,
   "Citigroup": 173,
   "Wells Fargo": 273,
   "Goldman Sachs": 87,
 "Morgan Stanley": 72,
  "U.S. Bancorp": 83,
    "TD Bank": 108,
  "PNC Financial Services": 67,
  "Capital One": 47,
  "FNB Corporation": 4,
  "First Hawaiian Bank": 3,
  "Ally Financial": 12,
 "Wachovia": 145,
  "Republic Bancorp": .97

    
}

In [3]:
print(bank_market_cap)

{'JP Morgan Chase': 327, 'Bank of America': 302, 'Citigroup': 173, 'Wells Fargo': 273, 'Goldman Sachs': 87, 'Morgan Stanley': 72, 'U.S. Bancorp': 83, 'TD Bank': 108, 'PNC Financial Services': 67, 'Capital One': 47, 'FNB Corporation': 4, 'First Hawaiian Bank': 3, 'Ally Financial': 12, 'Wachovia': 145, 'Republic Bancorp': 0.97}

In [4]:
type(bank_market_cap)

dict

In [35]:
# @TODO: Change the market cap for 'Citigroup'
bank_market_cap['Citigroup'] = 170

In [8]:
print(bank_market_cap)

{'JP Morgan Chase': 327, 'Bank of America': 302, 'Citigroup': 200, 'Wells Fargo': 273, 'Goldman Sachs': 87, 'Morgan Stanley': 72, 'U.S. Bancorp': 83, 'TD Bank': 108, 'PNC Financial Services': 67, 'Capital One': 47, 'FNB Corporation': 4, 'First Hawaiian Bank': 3, 'Ally Financial': 12, 'Wachovia': 145, 'Republic Bancorp': 0.97}

In [38]:
# @TODO: Add a new bank and market cap pair
bank_market_cap['American Express'] = 33

In [39]:
print(bank_market_cap)

{'JP Morgan Chase': 327, 'Bank of America': 302, 'Citigroup': 170, 'Wells Fargo': 273, 'Goldman Sachs': 87, 'Morgan Stanley': 72, 'U.S. Bancorp': 83, 'TD Bank': 108, 'PNC Financial Services': 67, 'Capital One': 47, 'FNB Corporation': 4, 'First Hawaiian Bank': 3, 'Ally Financial': 12, 'Republic Bancorp': 0.97, 'Sofi': 500, 'American Express': 33}

In [11]:
# @TODO: Remove a bank from the dictionary
del bank_market_cap['Wachovia']

In [40]:
del bank_market_cap['Sofi']

In [41]:
print(bank_market_cap)

{'JP Morgan Chase': 327, 'Bank of America': 302, 'Citigroup': 170, 'Wells Fargo': 273, 'Goldman Sachs': 87, 'Morgan Stanley': 72, 'U.S. Bancorp': 83, 'TD Bank': 108, 'PNC Financial Services': 67, 'Capital One': 47, 'FNB Corporation': 4, 'First Hawaiian Bank': 3, 'Ally Financial': 12, 'Republic Bancorp': 0.97, 'American Express': 33}

In [13]:
# @TODO: Print the modified dictionary
print(bank_market_cap)

{'JP Morgan Chase': 327, 'Bank of America': 302, 'Citigroup': 200, 'Wells Fargo': 273, 'Goldman Sachs': 87, 'Morgan Stanley': 72, 'U.S. Bancorp': 83, 'TD Bank': 108, 'PNC Financial Services': 67, 'Capital One': 47, 'FNB Corporation': 4, 'First Hawaiian Bank': 3, 'Ally Financial': 12, 'Republic Bancorp': 0.97, 'Sofi': 500}

In [59]:
#Total market capitalization
market_capitalization = 0
i_cnt = 0 
avg_mark_cap = 0 
largest_bank = 0
smallest_bank = 0
mega_cap = []
large_cap = []
mid_cap = []
small_cap =  []
for key, val in bank_market_cap.items():
    print(val)
    i_cnt = i_cnt + 1
    market_capitalization += val
    if val >= 300:
        mega_cap.append(key)
    elif val >= 10:
        large_cap.append(key)
    elif val >= 2:
        mid_cap.append(key)
    else:
        small_cap.append(key)
            
    if i_cnt == 1:
        largest_bank = val
        largest_bank_name = key
        smallest_bank = val
        smallest_bank_name = key
    else:
        if val > largest_bank:
            largest_bank = val
            largest_bank_name = key
        if val < smallest_bank:
            smallest_bank = val
            smallest_bank_name = key
print('Total Market Capitalization:', market_capitalization)
print('Total Numer of Banks:', i_cnt)
avg_mark_cap = market_capitalization / i_cnt
print('Average Market Capitalization:', avg_mark_cap)
print('Largest Bank ', largest_bank_name)
print('Smallest Bank ', smallest_bank_name)
print('--------------------------------------------')
print('Mega Cap Banks', mega_cap)
print('Large Cap Banks', large_cap)
print('Mid Cap Banks', mid_cap)
print('Small Cap Banks', small_cap)

327
302
170
273
87
72
83
108
67
47
4
3
12
0.97
33
Total Market Capitalization: 1588.97
Total Numer of Banks: 15
Average Market Capitalization: 105.93133333333334
Largest Bank  JP Morgan Chase
Smallest Bank  Republic Bancorp
--------------------------------------------
Mega Cap Banks ['JP Morgan Chase', 'Bank of America']
Large Cap Banks ['Citigroup', 'Wells Fargo', 'Goldman Sachs', 'Morgan Stanley', 'U.S. Bancorp', 'TD Bank', 'PNC Financial Services', 'Capital One', 'Ally Financial', 'American Express']
Mid Cap Banks ['FNB Corporation', 'First Hawaiian Bank']
Small Cap Banks ['Republic Bancorp']

In [29]:
#Total number of banks
print(i_cnt)

15